.container-full
  .container.main-nav
    .navbar.main_nav_bar.row
      .col-xs-12
        %a.brand{ "href" =>"index.html"} 
        %ul.nav
          %li
            %a{ "href" =>"" } Link 1
          %li
            %a{ "href" => ""} Link 2
            %ul.sub_menu
              %li
                %a{ "href" => "" } Link 2A
              %li
                %a{ "href" => "" } Link 2B
          %li
            %a{ "href" => "" } Link 3
          %li
            %a{ "href" => "" } Link 4
          %li
            %a{ "href" => "" } Link 5